%h1 overview
%table#stats.admin
  %thead
    %tr
      %th= link_to "Posts", :controller => :items
      %th Published
      %th Comments
      %th Tags
  %tbody
    %tr
      %td= @count
      %td= @published.count
      %td= @comment_count
      %td= @tag_count
= image_tag "http://chart.apis.google.com/chart?chco=4D89F9&amp;chs=950x150&amp;chbh=30,75,50&amp;cht=bvg&amp;chxt=x,y&amp;chd=t:#{@post_stats[1].to_s}&amp;chxl=0:|#{@post_stats[0].to_s}", :alt=>"users posts chart"
%h2 Awaiting moderation
%table#drafts.admin
  %thead
    %tr
      %th Title
      %th Edit
      %th Publish
  %tbody
    - @drafts.each do |draft|
      %tr{ :class => cycle("", "alt")}
        %td= draft.title
        %td
          =link_to "edit", :controller => :items, :action => :edit, :id => draft.id
          =link_to "destroy", "/items/destroy/#{draft.id}", :confirm => "are you sure you want to delete #{draft.title}"
          =link_to "preview", "/items/preview/#{draft.id}"
        %td=link_to "publish", "/items/publish/#{draft.id}", :confirm => "are you sure you want to publish #{draft.title}"
