-if @feature && !@feature.nil?
  =link_to image_tag(@feature.splash.url(:main), :id => 'splash_pic'), :controller => :items, :action => :show, :id => @feature.id
  %h2= link_to @feature.title, :controller => :items, :action => :show, :id => @feature.id
  %h4= "Created #{time_ago_in_words(@feature.created_at)} ago by #{@feature.user.login}"
  .post= truncate_html @feature.body, :length => 1200
  %ul.tags
    %li= link_to "read more", :controller => :items, :action => :show, :id => @feature.id
    -@feature.tags.each do |tag|
      %li= link_to tag, :controller => :items, :action => :find, :id => tag
    %li= link_to "comments (#{@feature.comments.length})", {:controller => :items, :action => :show, :id => @feature.id}
