- @items.each_with_index do |item,index|
  -if !item.featured? #&& item.published?
    %h2= link_to item.title, :controller => :items, :action => :show, :id => item.id
    =link_to image_tag(item.splash.url(:main), :id => 'splash_pic'), :controller => :items, :action => :show, :id => item.id
    %h4= "Created #{time_ago_in_words(item.publish_date)} ago by #{item.user.login}"
    .post= truncate_html item.body, :length => 250
    %ul.tags
      %li.nocomma
        = link_to "read more", {:controller => :items, :action => :show, :id => item.id}, :class => "more"
      %li.nocomma
        = link_to "like this (#{item.votes.count})", {:controller => :items, :action => :like, :id => item.id}, :class => "button like"
      %li.nocomma
        = link_to "retweet", {:controller => :items, :action => :show, :id => item.id}, :class => "retweet button"
      %li.nocomma
        = link_to "comments (#{item.comments.length})", {:controller => :items, :action => :show, :id => item.id}, :class=> "button"
        tags:
      -item.tags.each do |tag|
        %li= link_to tag, :controller => :items, :action => :find, :id => tag
      -if current_user && current_user.has_role?("admin")
        %li= link_to "**edit**", :controller => :items, :action => :edit, :id => item.id
