- @items.each_with_index do |item,index|
  -if !item.featured? #&& item.published?
    -if index == 0 && controller.controller_name != "welcome"
      =link_to image_tag(item.splash.url(:main), :id => 'splash_pic'), :controller => :items, :action => :show, :id => item.id
    %h2= link_to item.title, :controller => :items, :action => :show, :id => item.id
    %h4= "Created #{time_ago_in_words(item.created_at)} ago by #{item.user.login}"
    .post= item.body.truncate_html(200, at_end = link_to( "... [read more]", :controller => :items, :action => :show, :id => item.id))
    %ul.tags
      -item.tags.each do |tag|
        %li= tag
      %li= link_to "comments (#{item.comments.length})", {:controller => :items, :action => :show, :id => item.id}
