-@items.each_with_index do |item,index|
  -if index == 0
    =link_to image_tag(item.splash.url(:main), :id => 'splash_pic'), :controller => :items, :action => :show, :id => item.id
  %h2= item.title
  %h4= "Created #{time_ago_in_words(item.created_at)} ago"
  .post= item.body
  %ul.tags
    -item.tags.each do |tag|
      %li= tag
-if @items.length == 0
  %h2 nothing here.

