%p
  You Searched for
  = params[:id]
= form_tag "/items/search"
= text_field_tag "id"
%table#items.admin
  %tbody
    -@items.each_with_index do |item, index|
      %tr{ :class => cycle("", "alt")}
        %td
          %h2= link_to item.title, :controller => :items, :action => :edit, :id => item.id
          %p= truncate_html item.body, :length => 150
%p=will_paginate @items
