-if @item.splash.file?
  =image_tag @item.splash.url(:main), :id => 'splash_pic'
%h2
  =link_to @item.title, :controller => :items, :action => :show, :id => @item.id 
%h4= "Created #{time_ago_in_words(@item.created_at)} ago"
.post= @item.body
%ul.tags
  -@item.tags.each do |tag|
    %li= tag
%h2 add a comment
= render :partial => "items/comment", :locals => {:commentable_item => @item}
-@item.comments.each do |comment|
  .comment
    %h3= comment.title
    %h5= "Created #{time_ago_in_words(comment.created_at)} ago"
    %p= comment.comment
