-if @item.splash.file?
  =image_tag @item.splash.url(:main), :id => 'splash_pic'
%h2
  =link_to @item.title, :controller => :items, :action => :show, :id => @item.id
%h4= "Created #{time_ago_in_words(@item.publish_date)} ago by #{@item.user.login}"
.post= @item.body
%ul.tags
  %li.nocomma
    = link_to "permalink", {:controller => :items, :action => :show, :id => @item.id}, :class => "more"
  %li.nocomma
    = link_to "like this (#{@item.votes.count})", {:controller => :items, :action => :like, :id => @item.id}, :class => "button like"
  %li.nocomma
    = link_to "retweet", {:controller => :items, :action => :show, :id => @item.id}, :class => "retweet button"
  %li.nocomma
    = link_to "comments (#{@item.comments.length})", {:controller => :items, :action => :show, :id => @item.id}, :class=> "button"
    tags:
  -@item.tags.each do |tag|
    %li= tag
  -if current_user && current_user.has_role?("admin")
    %li= link_to "**edit**", :controller => :items, :action => :edit, :id => @item.id
%h2 add a comment
= render :partial => "items/comment", :locals => {:commentable_item => @item}
-@item.comments.each do |comment|
  .comment
    %h4
      = "#{time_ago_in_words(comment.created_at)} ago #{comment.user.login} said:" if comment.user
    %div= comment.comment if !comment.comment.nil?
