-if current_user && current_user.has_role?("admin")
  %ul#admin
    %li= link_to "overview", :controller => :admin
    %li= link_to "create a post", :controller => :items, :action => :new
    %li= link_to "edit posts", :controller => :items
    %li= link_to "edit users", :controller => :users
    %li= link_to "questionairres", :controller => :questionaires, :action => :index
    %li= link_to "logout", :controller => :logout
-elsif current_user && current_user.has_role?("author")
  %ul#admin
    %li= link_to "create a post", :controller => :items, :action => :new
    %li= link_to "edit posts", :controller => :items
    %li= link_to "logout", :controller => :logout
-elsif current_user && current_user.has_role?("user")
  %ul#user
    %li.button= link_to "submit an item", :controller => :items, :action => :new
    %li.button= link_to "logout", :controller => :logout
-else
  %ul#user
    %li.button= link_to "login", login_path
    %li or
    %li.button= link_to "register", signup_path
