- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.pinmonkey.com/pages/1.rss"}
  %body
    #head
      = flash_messages
      %h1 socialbite
      %ul
        %li= link_to "questionairres", :controller => :questionaires, :action => :index
    #grid
      .rail.column_one
        = yield :column_one
      .main
        = yield
      .rail.column_two
        = yield :column_three
    - # include javascript
    = javascript_include_tag "prototype","effects","controls","dragdrop","wysihat","wysihat-extended","jquery","jquery.form","zebra"
    :javascript
      jQuery.noConflict();
      document.observe("dom:loaded",function(ev){
        #{yield :onReady}
      });

