!!!
%html
  %head
    = stylesheet_link_tag 'tenplate','facebox','wysihat'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "/pages/Home.rss"}
    - # include javascript
    = javascript_include_tag "jquery","twitter","retweet","wtooltip","prototype","effects","controls","dragdrop","wysihat","facebox"
    %title SocialBite - lovers of food. local, organic and sustainably produced.
  %body
    #head
      :javascript
        window.google_analytics_uacct = "UA-8299514-2";

      = render :partial => "layouts/admin_toolbar"
      %h1
        =link_to "Socialbite - lovers of food. local, organic and sustainably produced.", root_path
      %ul#categories
        %li= link_to "grow", :controller => :items, :action => :find, :id => "grow"
        %li= link_to "eat", :controller => :items, :action => :find, :id => "eat"
        %li= link_to "buy", :controller => :items, :action => :find, :id => "buy"
        %li= link_to "drink", :controller => :items, :action => :find, :id => "drink"
        %li= link_to "read", :controller => :items, :action => :find, :id => "read"
        %li= link_to "events", :controller => :events
    #grid
      
      .main
        = flash_messages
        = yield
      .pad
      .rail.column_one
        = yield :column_one
        = render :partial => "layouts/follow"
      .pad
      .rail.column_two
        = render :partial => "layouts/cloud"
        = yield :column_two
        = render :partial => "layouts/friends"
        = render :partial => "layouts/adsense"
        %ul#nav
          %li= link_to "about", :controller => :pages, :action => :about
          %li= link_to "contact", :controller => :pages, :action => :contact
    :javascript
        jQuery('.previous li a').wTooltip({
          className: "sb_tooltip", 
          style: false,
          offsetY:-180,
          offsetX:-30
          });

      document.observe("dom:loaded",function(ev){
        #{yield :onReady}
      });
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      try {
      var pageTracker = _gat._getTracker("UA-8299514-2");
      pageTracker._setDomainName(".socialbite.com");
      pageTracker._trackPageview();
      } catch(err) {}
