!!!
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.pinmonkey.com/pages/1.rss"}
  %body
    #head
      = flash_messages
      %h1 
        =link_to "socialbite", root_path
      %ul#nav
        -if current_user && current_user.has_role?("admin")
          %li= link_to "questionairres", :controller => :questionaires, :action => :index
          %li= link_to "create a post", :controller => :items, :action => :new
          %li= link_to "logout", :controller => :logout
        %li= link_to "about", :controller => :pages, :action => :about
        %li= link_to "contact", :controller => :pages, :action => :contact
      %ul#categories
        %li= link_to "grow", :controller => :items, :action => :find, :id => "grow"
        %li= link_to "eat", :controller => :items, :action => :find, :id => "eat"
        %li= link_to "buy", :controller => :items, :action => :find, :id => "buy"
        %li= link_to "drink", :controller => :items, :action => :find, :id => "drink"
        %li= link_to "events", :controller => :items, :action => :find, :id => "events"
    #grid
      .rail.column_one
        = yield :column_one
        = render :partial => "layouts/follow"
        = render :partial => "layouts/cloud"
      
      .main
        = yield
      
      .rail.column_two
        = yield :column_two

    - # include javascript
    = javascript_include_tag "prototype","effects","controls","dragdrop","wysihat","wysihat-extended","jquery","jquery.form","zebra"
    :javascript
      jQuery.noConflict();
      document.observe("dom:loaded",function(ev){
        #{yield :onReady}
      });

